.accesos_directos_escritorio {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
}

.accesos_directos_window {
    padding: 1rem;
}

.acceso_directo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: .5rem;
}

.icono_acceso_directo {
    width: 70px;
    cursor: pointer;
}

.icono_archivos {
    width: 60px;
}

.leyenda_acceso_directo {
    margin-top: .25rem;
    color: #fff;
}