.barra_de_tareas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #162b4e; */
    background-color: #010813;
    color: #fff;
    padding: .5rem 1rem;
    position: fixed;
    bottom: 0;
    width: 100vw;
    z-index: 3;
    /* box-shadow: inset 0 0 10px #000; */
}

.logo_container:hover {
    filter: brightness(50%);
}

.logo {
    width: 40px;
    cursor: pointer;
}