.barra_de_tareas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #162b4e;
    color: #fff;
    padding: .5rem 1rem;
    position: fixed;
    bottom: 0;
    width: 100vw;
    z-index: 3;
    /* box-shadow: inset 0 0 10px #000; */
}

.logo {
    width: 30px;
    cursor: pointer;
}