@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --app-notas-color1: rgba(19, 15, 30, 1);
    --app-notas-color2: rgba(31, 37, 49, 1);
    --app-notas-color3: rgba(23, 212, 182, 1);
    --app-notas-color4: rgba(216, 219, 234, 1);
    --app-notas-color5: rgba(255, 95, 0, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}