.lista_de_programas {
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 300px;
    height: 500px;
    background-color: #010813;
    /* background-color: #162b4e; */
    filter: opacity(55%);
    z-index: 2;
    color: #fff;
}