.lista_de_programas {
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 300px;
    height: 500px;
    background-color: rgba(1, 8, 19, 0.5);
    /* background-color: #162b4e; */
    z-index: 2;
    color: #fff;
    border-radius: 0 10px 0 0;
}

.lista_de_programas-titulo {
    margin-bottom: 1rem;
}

.lista_de_programas li {
    list-style: none;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.lista_de_programas li:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);

}

.lista_de_programas-icono {
    padding: .5rem;
    width: 50px;
    margin-right: 1rem;
}