.window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 200px;
    min-height: 200px;
    background-color: #272727;
    border-top: none;
    border-radius: 0 0 5px 5px;
}

.window_full_screen {
    width: 100vw;
    height: calc(100vh - 60px);
    border-radius: 0;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(0, 0);
}

.window_btn_container {
    background-color: #202020;
    display: flex;
    justify-content: end;
    border: none;
}

.window_btn_container-fixed {
    width: 100%;
    position: fixed;
    top: 0;
}

.generic_app {
    margin-top: 32px;
}

.window_btn {
    width: 35px;
    border: none;
    background-color: #202020;
    color: #fff;
    padding: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

.window_close_btn {
    font-size: 10px;
}

.window_close_btn:hover {
    background-color: #e81123;
}

.window_archivos {
    padding: 1rem;
    font-size: 14px;
    display: flex;
}